.box {
    border: 2px solid #c12e81;
    box-shadow: 0 4px 12px #c12e817c;
     
    padding: 30px; 
    background-color: #000000d3; 
}

h1{
  color:#c12e81;
    
}
.form-control{
    background-color: #000000d3 ;
    
}
#loginEmail::placeholder ,#loginPassword::placeholder {
    color: #c12e81; 
   
}
button.btn{
   
    border: 2px solid #c12e81;

    color: #c12e81;

}

button.btn:hover{
    background-color: #c12e81;
}